@media ($xs) {
  .banner {
    background-image: url(../img/pushkin/banner_min.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 255px;
    max-height: 256px;
    padding-top: 131px;
  }
}

@media ($sm) {
  .banner {
    background-image: url(../img/pushkin/banner.png);
    padding: 80px 0;
    min-height: 364px;
  }
}