.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn--sign-in {
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 8px 15.5px;
  transition: all 400ms ease;

  &:hover,
  &:focus {
    background-color: rgb(245, 245, 245);
  }
}

.btn--register {
  height: 40px;
  background-color: #262626;
  border-radius: 2px;
  color: #fff;
  padding: 8px 15.5px;
}

.btn--basket {
  height: 40px;
}

.btn--scroll-up {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 16px;
  bottom: 24px;
  background-color: #59bd5a;
  background-image: url("../img/arrow_up.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
}