.dish-card {
  min-width: 360px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  min-height: 160px;
  margin-bottom: 49px;

  &__description {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    margin-top: auto;
  }
}

.dish-card__photo {
  display: block;
}
