.footer {
  background-color: #262626;
  position: relative;

  &__wrapper {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  min-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 48px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__social,
.footer__about-links,
.footer__other-links,
.footer__copyright,
.footer__privacy,
.footer__terms {
  width: 227px;
}

.foter__social-id {
  color: #fff;
  font-size: 16px;
  margin-top: 33px;
}

.footer__hashtag {
  color: #49a144;
}

.footer__item-link {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  font-size: 13px;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #e0e0e0;
  }

  &--small {
    font-size: 11px;
  }
}

.footer__download-app {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  &__wrapper {
    min-height: 120px;
    width: 297px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__other {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 11px;
}