.title {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1d1d1d;
  margin: 0;
}

@media ($xs) {
  .title--first {
    font-size: 24px;
    line-height: 28px;
  }
}

@media ($sm) {
  .title--first {
    font-size: 36px;
  }
}

.title--second {
  line-height: 34px;
  font-size: 22px;
  margin: 16px 0;
}

.title--third {
  line-height: 24px;
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}